{% extends "base.html.twig" %}

{% block title  %}Accueil {% endblock %}
{% block body  %}
<div class="jumbotron">
  <h1 class="display-4">Bienvenue</h1>
  <p class="lead">Ce projet à pour but de créer des recettes, en ajoutant des ingrédients et permettre aux membres de la communautée d'échanger ses dernières. Les recettes créer pourront être publiques ou privés. </p>
  <hr class="my-4">
  <p>Afin de commencer à utiliser l'application, veuillez vous inscrire.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
</div>
{% endblock %}